.elementor-2
  .elementor-element.elementor-element-e84a25a
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-2 .elementor-element.elementor-element-e84a25a {
  padding: 80px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-d55754d {
  text-align: center;
}
.elementor-2 .elementor-element.elementor-element-26c3f9e {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-d935a76
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-46fd580 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0px;
}
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0px;
}
.elementor-2 .elementor-element.elementor-element-42396b7 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  fill: #131313;
  color: #131313;
  background-color: #fdd325;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 25px 15px 25px;
}
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button:focus {
  color: #131313;
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-42396b7
  .elementor-button:focus
  svg {
  fill: #131313;
}
.elementor-2
  .elementor-element.elementor-element-42396b7
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0px;
}
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0px;
}
.elementor-2 .elementor-element.elementor-element-1a9aee6 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  fill: #131313;
  color: #131313;
  background-color: #fdd325;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 25px 15px 25px;
}
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button:focus {
  color: #131313;
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  .elementor-button:focus
  svg {
  fill: #131313;
}
.elementor-2
  .elementor-element.elementor-element-1a9aee6
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-d8a4ec4
  .elementor-spacer-inner {
  height: 10px;
}
.elementor-2
  .elementor-element.elementor-element-367248d
  .elementor-spacer-inner {
  height: 15px;
}
.elementor-2 .elementor-element.elementor-element-9dbf8e3 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-9dbf8e3
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-a3f5c2b {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-wrapper {
  max-width: 100%;
}
.elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-item {
  background-color: #b5981e;
  padding: 6px 6px 6px 6px;
}
body:not(.rtl)
  .elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-item:not(:first-of-type) {
  margin-left: calc(5px / 2);
}
body:not(.rtl)
  .elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-item:not(:last-of-type) {
  margin-right: calc(5px / 2);
}
body.rtl
  .elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-item:not(:first-of-type) {
  margin-right: calc(5px / 2);
}
body.rtl
  .elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-item:not(:last-of-type) {
  margin-left: calc(5px / 2);
}
.elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-digits {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 2em;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-577d480
  .elementor-countdown-label {
  font-family: "Rubik", Sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-d524f96
  .elementor-spacer-inner {
  height: 15px;
}
.elementor-2 .elementor-element.elementor-element-a0c34c9 {
  padding: 0px 0px 040px 0px;
}
.elementor-2 .elementor-element.elementor-element-d5a55b4 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-d5a55b4
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2
  .elementor-element.elementor-element-d5a55b4
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-77ba7a4 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 0.5px;
}
.elementor-2
  .elementor-element.elementor-element-77ba7a4
  .elementor-divider-separator {
  width: 36%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-2 .elementor-element.elementor-element-77ba7a4 .elementor-divider {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
.elementor-2 .elementor-element.elementor-element-762ca62 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-762ca62
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2
  .elementor-element.elementor-element-762ca62
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-1955b23
  > .elementor-container {
  max-width: 973px;
}
.elementor-2
  .elementor-element.elementor-element-1955b23
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-1f6f87e.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-1f6f87e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-1f6f87e.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-2e4a8b0.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-2e4a8b0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-2e4a8b0.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2 .elementor-element.elementor-element-aaee689 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-aaee689
  > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-f869c85 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  fill: #009245;
  color: #009245;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #009245;
  border-radius: 6px 6px 6px 6px;
  padding: 5px 15px 5px 15px;
}
.elementor-2
  .elementor-element.elementor-element-f869c85
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
  background-color: #02010100;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-612f46f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-612f46f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-612f46f.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2 .elementor-element.elementor-element-dee1d97 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-dee1d97
  > .elementor-widget-container {
  margin: 0px 0px 015px 0px;
}
.elementor-2 .elementor-element.elementor-element-a124883 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  fill: #009245;
  color: #009245;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #009245;
  border-radius: 6px 6px 6px 6px;
  padding: 5px 15px 5px 15px;
}
.elementor-2
  .elementor-element.elementor-element-a124883
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
  background-color: #02010100;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-cfa5fff.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-cfa5fff.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-cfa5fff.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2
  .elementor-element.elementor-element-64d6adb
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-2 .elementor-element.elementor-element-616e846 {
  padding: 0px 0px 20px 0px;
}
.elementor-2 .elementor-element.elementor-element-cec7629 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-cec7629
  .elementor-heading-title {
  color: #8b8b8b;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-a60b796 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-a60b796
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2 .elementor-element.elementor-element-77b7a7e {
  text-align: center;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-2
  .elementor-element.elementor-element-1cae0ff
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-2 .elementor-element.elementor-element-fe59bbd {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-fe59bbd
  .elementor-heading-title {
  color: #feffe2;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-51589ed {
  text-align: center;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 14.5px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-2
  .elementor-element.elementor-element-f3a2305
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-2 .elementor-element.elementor-element-1981107 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-1981107
  .elementor-heading-title {
  color: #feffe2;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-859c6a0 {
  text-align: center;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 14.5px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-2
  .elementor-element.elementor-element-cf21269
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-2 .elementor-element.elementor-element-44f2864 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-44f2864
  .elementor-heading-title {
  color: #feffe2;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-c013f59 {
  text-align: center;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 14.5px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-2 .elementor-element.elementor-element-abf5160 {
  padding: 0px 0px 20px 0px;
}
.elementor-2
  .elementor-element.elementor-element-9651705
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-11df33b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-11df33b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-11df33b.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2 .elementor-element.elementor-element-6a42266 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  fill: #fdd325;
  color: #fdd325;
  background-color: #fdd32500;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 13px 25px 13px 25px;
}
.elementor-2
  .elementor-element.elementor-element-6a42266
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-6a42266
  .elementor-button:focus {
  color: #131313;
  background-color: #ffffff;
  border-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-6a42266
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-6a42266
  .elementor-button:focus
  svg {
  fill: #131313;
}
.elementor-2
  .elementor-element.elementor-element-6a42266
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-fc4e8c3 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  fill: #131313;
  color: #131313;
  background-color: #fdd325;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 25px 15px 25px;
}
.elementor-2
  .elementor-element.elementor-element-fc4e8c3
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-fc4e8c3
  .elementor-button:focus {
  color: #131313;
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-fc4e8c3
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-fc4e8c3
  .elementor-button:focus
  svg {
  fill: #131313;
}
.elementor-2
  .elementor-element.elementor-element-fc4e8c3
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-dbda9f1 {
  padding: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-1f2f14f {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-1f2f14f
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-d17948d {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 0.5px;
}
.elementor-2
  .elementor-element.elementor-element-d17948d
  .elementor-divider-separator {
  width: 9%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-2 .elementor-element.elementor-element-d17948d .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-2 .elementor-element.elementor-element-92e63f5 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-92e63f5:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-92e63f5
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-8036fc2 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-8036fc2:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-019ebd1 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-019ebd1:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-019ebd1
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-67d00b5 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-67d00b5:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-67d00b5
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-80579db img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-80579db:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-80579db
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-2e6e2e5 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-2e6e2e5:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-2e6e2e5
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-127951b img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-127951b:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-563005c img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-563005c:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-bb58b53 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-bb58b53:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-9ada843 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-9ada843:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-f793007 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-f793007:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-e2b8fff img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-e2b8fff:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-016bc97 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-016bc97:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-c32ee42 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-c32ee42:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-9edf56a img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-9edf56a:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-8fd5c50 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-8fd5c50:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-1db33a7 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-1db33a7:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-20ae395 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-20ae395:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-33df611 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-33df611:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-33df611
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-861d386 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-861d386:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-861d386
  > .elementor-widget-container {
  margin: 4px 4px 4px 4px;
}
.elementor-2 .elementor-element.elementor-element-d8b2690 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-d8b2690:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-d8b2690
  > .elementor-widget-container {
  margin: 6px 6px 6px 6px;
}
.elementor-2 .elementor-element.elementor-element-83f9f22 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-83f9f22:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-83f9f22
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-96b092e img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-96b092e:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-96b092e
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-80a2d36 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-80a2d36:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-80a2d36
  > .elementor-widget-container {
  margin: 6px 6px 6px 6px;
}
.elementor-2 .elementor-element.elementor-element-dd1f2fb img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-dd1f2fb:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-dd1f2fb
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-c3493d2 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-c3493d2:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-5799afe img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-5799afe:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-5799afe
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-ee2f3fe img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-ee2f3fe:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-ee2f3fe
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-e83b60d img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-e83b60d:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-e83b60d
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-b06ae56 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-b06ae56:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-b06ae56
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-0dc06d4 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-0dc06d4:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-0dc06d4
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-95d40aa img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-95d40aa:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-4dded64 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-4dded64:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-4dded64
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-93a1f2e img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-93a1f2e:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-93a1f2e
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-0ecdbc0 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-0ecdbc0:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-0ecdbc0
  > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
}
.elementor-2 .elementor-element.elementor-element-f292374 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-f292374:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-f292374
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-99bb02f img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-99bb02f:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-99bb02f
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-bf079be img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-bf079be:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-bf079be
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-b38e734 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-b38e734:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-b38e734
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-552d8d5 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-552d8d5:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-552d8d5
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-8a72e41 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-8a72e41:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-8a72e41
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-63e62f1 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-63e62f1:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-63e62f1
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-d559954 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-d559954:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-d559954
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-381a422 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-381a422:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-381a422
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-523a7ca img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-523a7ca:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-523a7ca
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-b3239e9 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-b3239e9:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-b3239e9
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-089b4fb img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-089b4fb:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-089b4fb
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-eb99b4b img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-eb99b4b:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-eb99b4b
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-0ab2714 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-0ab2714:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-0ab2714
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-dcabb62 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-dcabb62:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-dcabb62
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-70615e1 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-70615e1:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-70615e1
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-d284ead img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-d284ead:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-d284ead
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-6491e1a img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-6491e1a:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-6491e1a
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-e3db5f8 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-e3db5f8:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-e3db5f8
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-cfea6a0 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-cfea6a0:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-cfea6a0
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-778dfe6 img {
  width: 80%;
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-778dfe6:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-778dfe6
  > .elementor-widget-container {
  margin: 16px 16px 16px 16px;
}
.elementor-2 .elementor-element.elementor-element-778dfe6 {
  width: 100%;
  max-width: 100%;
  align-self: center;
}
.elementor-2 .elementor-element.elementor-element-4b43b23 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-4b43b23:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-4b43b23
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-059cc13 {
  text-align: center;
}
.elementor-2 .elementor-element.elementor-element-059cc13 img {
  opacity: 0.5;
  border-radius: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-059cc13:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-059cc13
  > .elementor-widget-container {
  margin: 19px 19px 19px 19px;
}
.elementor-2 .elementor-element.elementor-element-a7c624d img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-a7c624d:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-a7c624d
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2 .elementor-element.elementor-element-f786cdb img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-f786cdb:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-f786cdb
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-2
  .elementor-element.elementor-element-a28cfd6
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2 .elementor-element.elementor-element-a28cfd6 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-2
  .elementor-element.elementor-element-f497802
  .elementor-heading-title {
  color: #8b8b8b;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-dfbd716 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-dfbd716
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2 .elementor-element.elementor-element-7c8a737 {
  text-align: left;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
.elementor-2
  .elementor-element.elementor-element-319e195
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2 .elementor-element.elementor-element-319e195 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-2
  .elementor-element.elementor-element-93b6e2e
  .elementor-heading-title {
  color: #8b8b8b;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-c079a24 {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-c079a24
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2 .elementor-element.elementor-element-b9ebf18 {
  text-align: left;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
.elementor-2 .elementor-element.elementor-element-500b8f9 {
  padding: 0px 0px 0100px 0px;
}
.elementor-2 .elementor-element.elementor-element-43cb39a {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-43cb39a
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-f4f5a87 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 0.5px;
}
.elementor-2
  .elementor-element.elementor-element-f4f5a87
  .elementor-divider-separator {
  width: 9%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-2 .elementor-element.elementor-element-f4f5a87 .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-2 .elementor-element.elementor-element-35351fc img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-eb2b6c8 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-eb2b6c8:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-42243e7 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-42243e7:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-7ed2f79 img {
  opacity: 0.5;
}
.elementor-2
  .elementor-element.elementor-element-7ed2f79
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-b371bb6 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-b371bb6:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-22fe2eb img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-22fe2eb:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-45c0f90 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-45c0f90:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-ea68804 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-ea68804:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-a74289e img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-962d773 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-962d773:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-962d773
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-d5948e5 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-d5948e5:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-d5948e5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-2ab3a5c {
  padding: 0px 0px 20px 0px;
}
.elementor-2 .elementor-element.elementor-element-1583a27 {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-1583a27
  .elementor-heading-title {
  color: #b5981e;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-209f3c9 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 0.5px;
}
.elementor-2
  .elementor-element.elementor-element-209f3c9
  .elementor-divider-separator {
  width: 9%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-2 .elementor-element.elementor-element-209f3c9 .elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-2 .elementor-element.elementor-element-43e0ac3 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-43e0ac3:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-c1c75dc img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-c1c75dc:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-66b76bf img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-66b76bf:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-5cfb640 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-5cfb640:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-b1d5a2d img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-b1d5a2d:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-45a609a img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-45a609a:hover img {
  opacity: 1;
}
.elementor-2 .elementor-element.elementor-element-8e64f68 img {
  opacity: 0.5;
}
.elementor-2 .elementor-element.elementor-element-8e64f68:hover img {
  opacity: 1;
}
.elementor-2
  .elementor-element.elementor-element-0962b5f
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2 .elementor-element.elementor-element-0962b5f {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-2
  .elementor-element.elementor-element-5d76cc1
  .elementor-heading-title {
  color: #8b8b8b;
  font-family: "Rubik", Sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-2 .elementor-element.elementor-element-aa51a4a {
  text-align: left;
}
.elementor-2
  .elementor-element.elementor-element-aa51a4a
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2 .elementor-element.elementor-element-5e58640 {
  text-align: left;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-2 .elementor-element.elementor-element-cb9e75c {
  margin-top: 0px;
  margin-bottom: 20px;
}
.elementor-2
  .elementor-element.elementor-element-10595f7.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-10595f7.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-10595f7.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-10595f7
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-2
  .elementor-element.elementor-element-10595f7
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-10595f7
  .elementor-image-box-description {
  color: #b4b4a0;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-c2ecfcf
  .elementor-image-box-description {
  color: #b4b4a0;
}
.elementor-2
  .elementor-element.elementor-element-9e0b740
  .elementor-spacer-inner {
  height: 25px;
}
.elementor-2 .elementor-element.elementor-element-27ed28f .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  fill: #fdd325;
  color: #fdd325;
  background-color: #fdd32500;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 13px 25px 13px 25px;
}
.elementor-2
  .elementor-element.elementor-element-27ed28f
  .elementor-button:hover,
.elementor-2
  .elementor-element.elementor-element-27ed28f
  .elementor-button:focus {
  color: #131313;
  background-color: #ffffff;
  border-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-27ed28f
  .elementor-button:hover
  svg,
.elementor-2
  .elementor-element.elementor-element-27ed28f
  .elementor-button:focus
  svg {
  fill: #131313;
}
.elementor-2
  .elementor-element.elementor-element-27ed28f
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-80eafce {
  margin-top: 0px;
  margin-bottom: 150px;
}
.elementor-2 .elementor-element.elementor-element-0f2b47b {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-0f2b47b
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2
  .elementor-element.elementor-element-0f2b47b
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-2 .elementor-element.elementor-element-a129af4 {
  margin-top: 0px;
  margin-bottom: 100px;
}
.elementor-2 .elementor-element.elementor-element-e8e467d {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-e8e467d
  .elementor-heading-title {
  color: #fdd325;
  font-family: "Rubik", Sans-serif;
  font-weight: 300;
}
.elementor-2
  .elementor-element.elementor-element-e8e467d
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
}
.elementor-2 .elementor-element.elementor-element-860eafa .elementor-tab-title {
  border-width: 0px;
  border-color: #cc3b3b;
  padding: 30px 30px 30px 30px;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-content {
  border-width: 0px;
  border-bottom-color: #cc3b3b;
  color: #b4b4a0;
  font-family: "Rubik", Sans-serif;
  font-size: 14.5px;
  font-weight: 300;
  padding: 0px 30px 20px 30px;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-toggle-item:not(:last-child) {
  margin-bottom: 15px;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-toggle-item {
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0);
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-toggle-title,
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-toggle-icon {
  color: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title.elementor-active
  a,
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon {
  color: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-toggle-title {
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title
  .elementor-toggle-icon
  i:before {
  color: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title
  .elementor-toggle-icon
  svg {
  fill: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  i:before {
  color: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  svg {
  fill: #feffe2;
}
.elementor-2
  .elementor-element.elementor-element-860eafa
  > .elementor-widget-container {
  background-color: #00000000;
}
body.elementor-page-2:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../wp/wp-content/uploads/2020/10/bg-min.html");
  background-position: top center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .elementor-2 .elementor-element.elementor-element-e84a25a {
    padding: 50px 20px 50px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-26c3f9e {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-d935a76 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-46fd580 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .elementor-2
    .elementor-element.elementor-element-367248d
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-2 .elementor-element.elementor-element-9dbf8e3 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-a0c34c9 {
    padding: 0px 20px 50px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-d5a55b4 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-762ca62 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-1f6f87e {
    width: 33%;
  }
  .elementor-2
    .elementor-element.elementor-element-1f6f87e.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2 .elementor-element.elementor-element-2e4a8b0 {
    width: 33%;
  }
  .elementor-2
    .elementor-element.elementor-element-2e4a8b0.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2 .elementor-element.elementor-element-612f46f {
    width: 33%;
  }
  .elementor-2
    .elementor-element.elementor-element-612f46f.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2 .elementor-element.elementor-element-cfa5fff {
    width: 33%;
  }
  .elementor-2
    .elementor-element.elementor-element-cfa5fff.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-2 .elementor-element.elementor-element-616e846 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-c38540b {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-abf5160 {
    padding: 0px 0px 50px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-6a42266
    > .elementor-widget-container {
    margin: -7px 0px 0px 0px;
  }
  .elementor-2
    .elementor-element.elementor-element-fc4e8c3
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-dbda9f1 {
    padding: 0px 20px 50px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-184da08 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-022ecb1 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-0bfe3f1 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-cf842f8 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-3dcd5d2 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-86ab7a7 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-08757d4 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-127951b {
    width: auto;
    max-width: auto;
  }
  .elementor-2 .elementor-element.elementor-element-b5a7f37 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-713cf92 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-3c3adbe {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-541d67e {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-641af76 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-e2b8fff {
    width: auto;
    max-width: auto;
  }
  .elementor-2 .elementor-element.elementor-element-73be817 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-25514ae {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-d64d064 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-f67fe14 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-b12be40 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-a5dd000 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-5393120 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-f77d957 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-509c70f {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c8e3e33 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-f1682f0 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-d7972e1 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-d1dd2e3 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-b2ee656 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-6fd2db2 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-de2b391 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-ae54081 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-1acf034 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-98db2c9 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c9ef94b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-fe10374 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-a87e843 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c9fd3fe {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c05476c {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-8c1c4dc {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-f7cd2ce {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-26f805b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-e5a211f {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-298a052 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-fc6962a {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-75e9d40 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c606f6c {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-7a7996f {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-09ba654 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-7dadaa8 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-e5def87 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-96b1784 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c00610b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-3f78864 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-98d32bd {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-d1462e1 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-9e16f84 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-ce4046b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-78cdd2e {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-5fabe90 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-f0132ff {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-0b6120d {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-1090b6b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-a28cfd6 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-f497802 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-dfbd716 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-7c8a737 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-1047acd {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-319e195 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-601f06f {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-93b6e2e {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-c079a24 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-b9ebf18 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-500b8f9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px 50px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-3b4efa8 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-258439e {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-e167a05 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-63f3690 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-dec0c63 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-7eeb6f0 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-dd28130 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-1425741 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-ecf0a97 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-96bfec8 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-03edd3d {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-827ac58 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-2ab3a5c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px 50px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-1924ef9 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-df8cd9b {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-046fa5a {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-c642705 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-86e78e3 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-8b92e77 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-0816084 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-e8601ed {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-2e655f5 {
    width: 33%;
  }
  .elementor-2 .elementor-element.elementor-element-0962b5f {
    margin-top: 0px;
    margin-bottom: 050px;
    padding: 0px 20px 0px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-6f86adb {
    text-align: left;
  }
  .elementor-2
    .elementor-element.elementor-element-6f86adb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-2 .elementor-element.elementor-element-5d76cc1 {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-aa51a4a {
    text-align: center;
  }
  .elementor-2 .elementor-element.elementor-element-5e58640 {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-10595f7
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-c2ecfcf
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-2 .elementor-element.elementor-element-80eafce {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .elementor-2 .elementor-element.elementor-element-a129af4 {
    padding: 0px 20px 0px 20px;
  }
}
