.elementor-1487
  .elementor-element.elementor-element-f7cb342
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-1487 .elementor-element.elementor-element-ae2f388 {
  color: #ffffff;
}
.elementor-1487
  .elementor-element.elementor-element-693c3cc
  .elementor-spacer-inner {
  height: 50px;
}
