
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
    height: 100vh;
    font-family: Century Gothic;
    background-color: #202629;
    margin: 0;
  } */

  .wrapper {
    text-align: center;
  }

  h1 {
    color: #FDD325;
  }

  .countdown {
    display: flex;
  }

  .countdown .day,
  .countdown .hour,
  .countdown .min,
  .countdown .sec {
    color: #FDD325;
    padding: 1vw 3vw;
    text-align: center;
  }

  .countdown .day .num,
  .countdown .hour .num,
  .countdown .min .num,
  .countdown .sec .num {
    display: block;
    font-size: 50px;
    line-height: 1em;
  }

  .countdown .day .word,
  .countdown .hour .word,
  .countdown .min .word,
  .countdown .sec .word {
    display: block;
    font-size: 2vw;
    color: #8a99ab;
  }